/*animation************************************/
body{
  margin: 40px;
  font-size: 20px;
  color: #02B3E4;
}

.grid {
  perspective: 500px;
  position: relative;
  max-width: 574px;
  margin: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-columns: 1fr;
  grid-gap: 10px;
  height: 70vh;
}

.header{
  margin: 0;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 40px;
  grid-template-areas: "rating buttons timer"
}

.rating{
  grid-area: rating;
}

.buttons{
  grid-area: buttons;
  display: flex;
  margin: 10px;
}

.btn{
  margin: 10px;
  width: 80px;
  padding: 5px;
  border-radius:5px;
  border: #02B3E4 solid 3px;
  background-color: #fff;
  font-weight: bold;
  color: blue;
}

span{
  color: blue;
}

.timer{
  grid-area: timer;
}

.card{
  position: relative;
  transition: 0.5s;
  transform-style: preserve-3d;
}

.face{
  position: absolute;
  width:100%;
  height: 100%;
  backface-visibility: hidden;
}

.hidden{
  display: none;
}

.back{
  transform: rotateY(180deg);
}

.flip {
  transform: rotateY(180deg);
}

.success{
  border:4px solid #37ba49;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Antu_task-complete.svg/128px-Antu_task-complete.svg.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: bottom right;
  opacity: 0.8;
}

.gameWon{
  display: flex;
  flex-wrap: wrap;
  background-color: lightgray;
  opacity: 0.5;
}

.winning-mess{
  margin: 20px;
  width: 100%;
  font-size: 2em;
  text-align: center;
}

.winning-mess i{
  font-size: 20px;
}

.fa{
  padding: 0;
  margin: 0;
}

.round-border{
  border-radius: 10px;
}

.text-right{
  text-align: right;
}

.text-center{
  text-align: center;
}

.align-center{
  align-self: center;
  justify-content: center;
}

p{
  text-align: left;
  margin: 5px;
  padding: 20px;
}

.footer{
  position: absolute;
  width: 100%;
  color:#fff;
  background-color: #02B3E4;
  text-align: center;
  padding: 10px;
  bottom: 5px;
}

a{
  text-decoration: none;
  color: blue;
}

.icons-attribution{
  text-align: left;
}

.acknowledge{
  background-color: #02B3E4;
  color: #fff;
  border-radius: 5px;
  width:50%;
  margin: auto;
  margin-top: 100px;
}

.icons-attribution{
  color: #02B3E4;
  background-color: #fff;
  border: 3px solid #02B3E4;
  border-radius: 5px;
  line-height: 2em;
  padding: 10px;
}

.emoji{
  width: 100%;
  height: 50%;
  background-image: url('../img/svg/cool.svg');
  background-repeat: no-repeat;
  background-position: center;
  animation: emojiTransition 4s infinite;
}

@keyframes emojiTransition{
  0% {  background-image: url('../img/svg/cool.svg');}
  25% { background-image: url('../img/svg/happy.svg');}
  50% {  background-image: url('../img/svg/in-love.svg');}
  75% {  background-image: url('../img/svg/smiling.svg');}
  100% {  background-image: url('../img/svg/cool.svg');}
}
