#deck{
  max-width: 150px;
  margin: auto;
}

.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-columns: 1fr;
  grid-gap: 10px;
}

.card{
  grid-column-start: auto;
  grid-column-end: auto;
}

.hidden{
  display: none;
}

.white-bg{
  background-color: white;
}

.logo-bg{
  background-image: url('https://res-4.cloudinary.com/hireclub/image/upload/c_fill,f_auto,g_north,h_200,q_auto,w_200/pyhntzkpmxmoaaj8ksfu');
}

.success{
  border:1px solid #37ba49;
}

button{
  min-height: 30px;
  padding: 0;
  border: 0;
  background-size: contain;
  border-radius: 3px;
}

img{
  margin: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
